* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #333;
    background-color: #fff;
}

header {
    background-color: #fff;
    padding: 20px 40px;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 55px;
}

.nav-links {
    display: flex;
    font-size: 15px;
    list-style: none;
    gap: 55px;
}

.nav-links li a {
    color: #4e506d;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.nav-links li a:hover {
    color: #ff6c01;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

.logo-inicio {
    width: 180px;
    height: auto;
}

.btn-download {
    font-size: 15px;
    padding: 10px 20px;
    color: #ff6c01;
    border: 2px solid #ff6c01;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.4s ease;
}

.btn-download:hover {
    background-color: #ff6c01;
    color: #fff;
    transform: scale(1.05);
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  gap: 80px;
}

.info-content {
  max-width: 100%;
  padding-top: 20px;
}

.info-content h1 {
  font-size: 52px;
  color: #292e70;
  margin-bottom: 20px;
}

.info-content p {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 2;
}

.info-download .btn-info {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.4s ease;
}

.btn-info {
  background-color: #ff6c01;
  color: #fff;
  margin-top: 5px;
}

.btn-info:hover {
  background-color: #fff;
  color: #ff6c01;
  border: 2px solid #ff6c01;
  transform: scale(1.05);
}

.info-img img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.image-movement {
  animation: up-and-down 4s infinite linear;
}

.dropships {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.dropships p{
  font-size: 1.2rem;
  font-weight: bold;
}

.underlined {
  color: #007bff;
}

.partners {
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
  display: flex;
}

.partners img {
  transition: opacity 0.3s ease, transform 0.2s ease;
  max-height: 100px;
  opacity: 0.5;
  width: auto;
}

.samsung {
  height: 80px;
}

.partners img:hover {
  transform: scale(1.1);
  opacity: 1;
}